:host {
    height: 100%;
    max-width: 100%;
    min-height: fit-content;
    margin: 1rem;

    display: flex;
    flex-direction: column;
}

aside h1 {
    color: var(--p-primary-color);
}

.card-wrapper {
    margin: auto;
    height: fit-content;
    max-width: 80%;
    width: fit-content;
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;
}

article {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: space-around;
    height: fit-content
}

article p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}