<header>
  <div class="logo-wrapper">
    <a routerLink><h1>Otad<span>TOAD</span> </h1></a>
  </div>

  <nav aria-label="Project Links">
    <p-button [style]="{'margin-right': '0.5rem', 'margin-left': '0.5rem'}"
      [routerLink]="['projects','web']" [label]="'WEB_PROJECTS' | translate"
      icon="pi pi-globe" />
    <p-button [style]="{'margin-right': '0.5rem', 'margin-left': '0.5rem'}"
      [routerLink]="['projects','luau']" [label]="'LUAU_PROJECTS' | translate"
      icon="pi pi-code" />
    <p-button [style]="{'margin-right': '0.5rem', 'margin-left': '0.5rem'}"
      [routerLink]="['projects','blender']"
      [label]="'BLENDER_PROJECTS' | translate"
      icon="pi pi-images" />
  </nav>

  <nav aria-label="Site Controls">
    <form [formGroup]="form" class="card flex justify-center">
      <p-select formControlName="lang" [options]="languages"
        optionLabel="language" placeholder="Select a Language"
        class="w-full md:w-56" (onChange)="switchLang($event.value)"
        [style]="{width: '15rem'}" />
    </form>

    <p-button (onClick)="toggleDarkMode()"
      icon="pi pi-{{ isDarkMode() ? 'sun' : 'moon' }}" rounded="true" />

    <p-button (onClick)="showDialog()" [label]="'SEARCH' | translate"
      icon="pi pi-search" />
    <p-dialog [header]="'PROJECT_SEARCH' | translate" [modal]="true"
      [(visible)]="visible"
      [style]="{width: '25rem'}">
      <p>HERE!</p>
    </p-dialog>
  </nav>
</header>

<main>
  <router-outlet />
</main>

<footer>
  <div class="footer-cards-wrapper">
    <div class="footer-card-wrapper">
      <p-card role="region" [attr.aria-label]="'CONTACTS' | translate"
        [header]="'CONTACTS' | translate"
        [style]="{'height': '100%'}">
        <ng-template #subtitle> {{'CONTACT_SUBTITLES' | translate}}
        </ng-template>
        <ul>
          <li class="m-0">
            <a href="mailto:diioramashvili@gmail.com"><p-button
                [label]="'CONTACT_GMAIL' | translate" [link]="true"
                icon="pi pi-inbox"
                pTooltip="diioramashvili@gmail.com"
                tooltipPosition="top"
                [autoHide]="false" /></a>
          </li>
          <li class="m-0">
            <a href="https://discord.com/users/665583489307115552"
              target="_blank">
              <p-button
                [label]="'CONTACT_DISCORD' | translate"
                [link]="true"
                icon="pi pi-discord"
                pTooltip="mrotad"
                tooltipPosition="top"
                [autoHide]="false" />

            </a>
          </li>
          <li class="m-0">
            <a href="https://www.roblox.com/users/1380927411/profile"
              target="_blank"><p-button
                [label]="'CONTACT_ROBLOX' | translate"
                [link]="true"
                pTooltip="OtadTOAD"
                tooltipPosition="top"
                [autoHide]="false">
                <ng-template #icon>
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em"
                    height="1em" viewBox="0 0 48 48"
                    style="transform: scale(1.6);">

                    <path fill="none" stroke="currentColor"
                      stroke-linecap="round" stroke-linejoin="round"
                      d="M41.265 12.672L14.712 5.557a1.666 1.666 0 0 0-2.04 1.178L5.557 33.288a1.666 1.666 0 0 0 1.178 2.04l26.553 7.114a1.666 1.666 0 0 0 2.04-1.178l7.114-26.552a1.666 1.666 0 0 0-1.178-2.04Z" />

                    <path fill="none" stroke="currentColor"
                      stroke-linecap="round" stroke-linejoin="round"
                      d="m29.32 20.51l-8.182-2.192a.513.513 0 0 0-.628.363l-2.192 8.18a.513.513 0 0 0 .363.63l8.18 2.191a.513.513 0 0 0 .63-.363l2.191-8.18a.513.513 0 0 0-.363-.629" />
                  </svg>
                </ng-template>

              </p-button></a>
          </li>
          <li class="m-0">
            <a href="https://github.com/OtadTOAD" target="_blank"><p-button
                [label]="'CONTACT_GITHUB' | translate"
                [link]="true"
                icon="pi pi-github"
                pTooltip="OtadTOAD"
                tooltipPosition="top"
                [autoHide]="false" /></a>
          </li>
        </ul>
      </p-card>
    </div>

    <div class="footer-card-wrapper">
      <p-card role="region" [attr.aria-label]="'NAVIGATION' | translate"
        [header]="'NAVIGATION' | translate"
        [style]="{'height': '100%'}">
        <ng-template #subtitle> {{'NAVIGATION_SUBTITLES' | translate}}
        </ng-template>
        <ul>
          <li><a [routerLink]="['']"><p-button [label]="'GO_BACK' | translate"
                [link]="true" icon="pi pi-undo" /></a></li>
          <li><a [routerLink]="['projects', 'blender']"><p-button
                [label]="'CHECKOUT_BLENDER' | translate"
                [link]="true" icon="pi pi-search" /></a></li>
          <li><a [routerLink]="['projects', 'luau']"><p-button
                [label]="'CHECKOUT_LUAU' | translate"
                [link]="true" icon="pi pi-search" /></a></li>
          <li><a [routerLink]="['projects', 'web']"><p-button
                [label]="'CHECKOUT_WEB' | translate"
                [link]="true" icon="pi pi-search" /></a></li>
        </ul>
      </p-card>
    </div>
  </div>

  <p>{{ "COPYRIGHT" | translate }}</p>
</footer>